<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Aplicaciones híbridas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <br>
  <ion-title> Caracteristicas</ion-title>
  <div aling="center" class="multi">
    <p>-Multiplataforma:</p>
    <ion-img src="../../assets/img/Android-vs-iOS.jpg" ></ion-img>
  </div>
  <div class="frame">
    <p>- Diferentes Frameworks</p>
    <ion-buttons>
      <ion-button href="https://cordova.apache.org/" target="_blank">
        <ion-img src="../../assets/img/apache.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </div>
  <br>
  <div></div>
  <ion-button target="_blank" href="https://ionicframework.com/">Visitar página</ion-button>
</ion-content>

