<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Conceptos Aplicaciones <br> híbridas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  <br>
  <b><ion-title> Caracteristicas</ion-title></b>
  <div aling="center" class="multi">
    <p><b>- Multiplataforma: </b><br> Su desarrollo va orientado a los diferentes sistemas orepativos móviles con un solo código</p>
    <ion-img src="../../assets/img/Android-vs-iOS.jpg" ></ion-img>
 
    <p><b>- Diferentes Frameworks: </b><br>Exiten diferentes herramientas que nos permiten desarrollar estas aplicaciones como: </p>
      <ion-button href="https://cordova.apache.org/" target="_blank">
        <ion-img src="../../assets/img/apache.png"></ion-img >
      </ion-button>
    <br>
      <ion-button href="https://jquerymobile.com/" target="_blank">
        <ion-img src="../../assets/img/jquery.png"></ion-img>
      </ion-button>
    <br>
      <ion-button href="https://ionicframework.com/" target="_blank">
        <ion-img src="../../assets/img/ionic.png"></ion-img>
      </ion-button>
    <br>
      <ion-button href="https://reactnative.dev/" target="_blank">
        <ion-img src="../../assets/img/react.png"></ion-img>
      </ion-button>
    <br>
      <ion-button href="https://framework7.io/" target="_blank">
        <ion-img src="../../assets/img/frame7.png"></ion-img>
      </ion-button>
    <br>
    <p><b>- Tecnologías web: </b><br>Los lenguajes que se utilizan para el desarrollo de estas apliacionse con los que
       utilizamos para el desarrollo de páginas web, como HTML, JavaScript o CSS </p>
    <ion-img src="../../assets/img/web.jpg"></ion-img>
    <br>
    <p><b> - Git: </b><br>Herramienta que nos ayuda a compartir nuestro código con un grupo de trabajo, así podrá 
    ser desarrollado por direrentes personas en lugares distintos.</p>
      <ion-button href="https://git-scm.com/" target="_blank">
        <ion-img src="../../assets/img/git.png"></ion-img>
      </ion-button>
    <br>
    <p>- ¿Cómo funcionan el desarrollo de apps híbridas: </p>
    <ion-img src="../../assets/img/funcion.jpg"></ion-img>
  </div>
  <br>
</ion-content>

